<!--
  Eclipse Public License - v 2.0

    THE ACCOMPANYING PROGRAM IS PROVIDED UNDER THE TERMS OF THIS ECLIPSE
    PUBLIC LICENSE ("AGREEMENT"). ANY USE, REPRODUCTION OR DISTRIBUTION
    OF THE PROGRAM CONSTITUTES RECIPIENT'S ACCEPTANCE OF THIS AGREEMENT.
-->

{#include admin-layout}
{#content}
<div class="support-header">
    <h1>Articles</h1>
</div>
<table>
    <thead>
    <tr>
        <th>Title <button class="sort-button" type="button" onclick="sortTable(this, 0)">↕</button></th>
        <th>Tags <button class="sort-button" type="button" onclick="sortTable(this, 1)">↕</button></th>
    </tr>
    </thead>
    <tbody>
    {#for article in articles}
    <tr>
        <td><a href="/articles/{article.id}">{article.title}</a></td>
        <td>{article.tags}</td>
    </tr>
    {/for}
    </tbody>
</table>
{/content}
{/include}
