<!--
  Eclipse Public License - v 2.0

    THE ACCOMPANYING PROGRAM IS PROVIDED UNDER THE TERMS OF THIS ECLIPSE
    PUBLIC LICENSE ("AGREEMENT"). ANY USE, REPRODUCTION OR DISTRIBUTION
    OF THE PROGRAM CONSTITUTES RECIPIENT'S ACCEPTANCE OF THIS AGREEMENT.
-->

{#include admin-layout}
{#content}
<div class="form-card">
    <style>
        .markdown-output img,
        .markdown-output video {
            max-width: 100%;
            height: auto;
        }
    </style>
    <h1>{category.name}</h1>
    <table>
        <tbody>
        <tr>
            <th>Name</th>
            <td>{category.name}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {#if category.description != null && !category.description.isBlank}
                <div class="markdown-output">{category.description.markdown}</div>
                {#else}
                -
                {/if}
            </td>
        </tr>
        <tr>
            <th>Default</th>
            <td>{#if category.isDefault}Yes{#else}No{/if}</td>
        </tr>
        </tbody>
    </table>
    <div class="form-actions">
        <a class="action-button" href="/categories/{category.id}/edit">Edit</a>
    </div>
</div>
{/content}
{/include}
