<!--
  Eclipse Public License - v 2.0

    THE ACCOMPANYING PROGRAM IS PROVIDED UNDER THE TERMS OF THIS ECLIPSE
    PUBLIC LICENSE ("AGREEMENT"). ANY USE, REPRODUCTION OR DISTRIBUTION
    OF THE PROGRAM CONSTITUTES RECIPIENT'S ACCEPTANCE OF THIS AGREEMENT.
-->

{#include admin-layout}
    {#content}
        <div class="support-header">
            <h1>Categories</h1>
            <a class="action-button" href="/categories/create">Create</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name <button class="sort-button" type="button" onclick="sortTable(this, 0)">↕</button></th>
                <th>Description <button class="sort-button" type="button" onclick="sortTable(this, 1)">↕</button></th>
                <th>Default <button class="sort-button" type="button" onclick="sortTable(this, 2)">↕</button></th>
            </tr>
            </thead>
            <tbody>
            {#for cat in categories}
                <tr>
                    <td><a href="/categories/{cat.id}">{cat.name}</a></td>
                    <td>{descriptionPreviews.get(cat.id)}</td>
                    <td>{#if cat.isDefault}Yes{#else}No{/if}</td>
                </tr>
            {/for}
            </tbody>
        </table>
    {/content}
{/include}
